{{!-- MUST BE LOGGED IN --}}
{{!-- Shows up on login and when dashboard is selected --}}

<section>
  <h2>Create New Post</h2>

  <form class="new-post-form">
    <div>
      <label for="post-title">Title</label>
      <input type="text" id="post-title" name="post-title" />
    </div>
    <div>
      <label for="post-body">Post</label>
      <textarea id="post-body" name="post-body"></textarea>
    </div>
    <button type="submit" class="btn">Create</button>
  </form>
</section>

{{!-- The user posts this user created will show on the dashboard --}}
{{#if posts.length}}
<section>
  <h2>Your Posts</h2>
  {{#each posts as |post|}}
  <li>
    {{> post-info post}}
    <a href="/dashboard/edit/{{post.id}}" class="edit-link">Edit post</a>
  </li>
  {{/each}}
</section>
{{else}}
{{!-- if user doesn't have posts yet, this note will show --}}
<h3>Fill out the form to create your first post!</h3>
{{/if}}

<script src="/javascript/add-post.js"></script>
