<h1>Homepage</h1>

<ol class="post-list">
  {{#each posts as |post|}}
  <li>
    {{> post-info post }}
  </li>
  {{/each}}
</ol>

{{#if loggedIn}}
<button><a href='/dashboard'>dashboard</a></button>
{{/if}}